@font-face {
  font-family: "Ubuntu";
  src:
    url("../assets/fonts/Ubuntu-Light.woff2") format("woff2"),
    url("../assets/fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src:
    url("../assets/fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src:
    url("../assets/fonts/Ubuntu-Medium.woff2") format("woff2"),
    url("../assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src:
    url("../assets/fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("../assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-ubuntu: "Ubuntu", "sans-serif";
}
