html,
body,
#root {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

@font-face {
  font-family: "Mona Sans";
  src:
    url("../assets/fonts/MonaSans-Variable.woff2") format("woff2"),
    url("../assets/fonts/MonaSans-Variable.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
}

@theme {
  --font-mona: "Mona Sans", "sans-serif";
  --color-primary: #00213e;
  --color-secondary: #18c2ff;
  --color-accent: #55e3ea;
  --color-neutral-white: #f5f5f5;
  --color-neutral-black: #111111;
}

@keyframes progressPulse {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
